// colors
$headerBlue: #018ABD;
$blueWhite: #F8F8FF;
$babyBlue: #E2F3FB;

// fonts
$logo: 2rem;
$headerMain: 1.625rem;
$main: 1.5rem;

// font-mobile
$logoMobile: 1.25rem;
$headerMainMobile: 0.875rem;
$mainMobile: 0.825rem;